#logo {
    text-align: center;
}

body{
    background-color: #3f7cc5;
    background-image: url(images_etc/clouds.jpg);
}
#kysymysalue {
    border: 1px solid #000;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    margin: 5px;
    height: 200px;
    background-color: white;
}

#vastausalue {
    text-align: center;
}

#vastausalue input {
    padding: 15px;
    margin: 5px;
}

#vastausalue button {
    padding: 25px;
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    hover
}

#vastausalue button:hover {
    background-color: lightgray;
}

@media (min-width:600px) {
    #vastausalue button{
        witdh: 80%;
    }
}